body {
  margin: 0;

  width: 100vw;
  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;

  width: 100%;
  height: 100%;
}

.ant-upload-wrapper {
  width: 100%;
}

.ant-upload {
  width: 100%;
}
